<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	
	<security:http auto-config="true">
		<security:intercept-url pattern="/flex/*.html" filters="none" />
		<security:intercept-url pattern="/flex/*.swf" filters="none" />
		<security:intercept-url pattern="/**" filters="none" />
	</security:http>  
	
	<security:authentication-manager alias="authManager">
		<security:authentication-provider user-service-ref="myUserDetailsService">
			<security:password-encoder hash="sha">
				<security:salt-source user-property="username"/>
			</security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="1"/>
	</bean>
	
    <bean id="myUserDetailsService"
		class="com.gencore.backend.java.security.UserDetailsServiceImpl">
		<property name="userService">
			<ref  bean="userServiceBean" />
		</property>
	</bean> 


</beans>