<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <script><endnote><head>
<script></script>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Servlet</title>


</head>


<body>

<script language="javascript">
function Go()
{
document.monForm.submit();
}
</script>
<form name="monForm" method="post" action="http://localhost:8400/Simba/ValidateNewAccountServlet?login=admin&amp;password=password"><a href="#" onclick="Go()">http://localhost:8400/Simba/ValidateNewAccountServlet</a>
</form>

</body>
</html>
